version: "3.8"
services:
  db:
    image: postgres:13
    volumes:
      - kurisutestdb:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: kurisu
      POSTGRES_PASSWORD: dev123
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U kurisu"]
      interval: 10s
      timeout: 5s
      retries: 5

  kurisu:
    build: .
    image: ghcr.io/nh-server/kurisu
    volumes:
      - ./data:/home/kurisu/data
    environment:
      KURISU_TOKEN_FILE: /run/secrets/kurisu_token
      SERVER_LOGS_URL_FILE: /run/secrets/server_logs_url
      DB_USER: kurisu
      DB_PASSWORD: dev123
    secrets:
      - kurisu_token
      - server_logs_url
    depends_on:
      db:
        condition: service_healthy

volumes:
  kurisutestdb:

secrets:
  kurisu_token:
    file: ./token.txt
  server_logs_url:
    file: ./server_logs_url.txt
