name: Pyflakes Check

on:
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install https://github.com/PyCQA/pyflakes/archive/master.zip
    - name: Check with pyflakes
      run: |
        pyflakes .
